* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App .header {
  border-bottom: 2px solid #0A122D;
  padding: 1rem;
}

.App .header h1 {
  font-size: 18px;
  color: #0A122D;
}


.stock-table-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-block: 1rem;
}

.stock-section {
  margin-bottom: 40px;
}

.stock-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stock-table th,
.stock-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.stock-table th {
  background-color: #1E2745;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.stock-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.stock-table tr:hover {
  background-color: #e9ecef;
}

.stock-table tr td {
  transition: background-color 0.3s;
}

h2 {
  color: #1E2745;
  margin-bottom: 20px;
  border-bottom: 2px solid #1E2745;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.stock-image-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.stock-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  border: 2px solid #007bff;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s, border-color 0.3s;
}

.stock-image:hover {
  transform: scale(1.1);
  border-color: #0056b3;
}

.show-all {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border: 2px dotted #6c757d;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.show-all:hover {
  background-color: #e9ecef;
}


.table_header{
  display: flex;
  gap: 1rem;
  margin-block: 1rem;
}

.stock_image{
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid rgba(17, 19, 21, 0.15);
  padding: 1px 5px;
  height: 50px;
  width: fit-content;
  padding: 1rem;
  cursor: pointer;
}

.active{
  background: #1E2745;
  color: #fff;
  border-radius: 10px;
}